manifest {
    description = ''
    author = 'Natalie Perez'
}

params {
    sample_name = 'NA12878_chr20_ds'
    container = 'quay.io/ldcabansay/bwa:latest'
    bwa_opt = '-M -t'
    threads = '4'
    ref_fasta = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref_hg37_chr20.fa'
    ref_fasta_fai = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref_hg37_chr20.fa.fai'
    ref_fasta_amb = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref_hg37_chr20.fa.amb'
    ref_fasta_ann = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref/ref_hg37_chr20.fa.ann'
    ref_fasta_bwt = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref/ref_hg37_chr20.fa.bwt'
    ref_fasta_pac = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref/ref_hg37_chr20.fa.pac'
    ref_fasta_sa = '/Users/natalieperez/gitOrgs/dockstore-training/data/ref/ref_hg37_chr20.fa.sa'
    read1_fastq = '/Users/natalieperez/gitOrgs/dockstore-training/data/NA12878_chr20_ds_r1.fq'
    read2_fastq = '/Users/natalieperez/gitOrgs/dockstore-training/data/NA12878_chr20_ds_r2.fq'
}

docker {
    enabled = true
    container = params.container
}