manifest {
    author = 'Natalie Perez'
}

params {
    sample_name = 'NA12878_chr20_ds'
    analysis_sam = '/Users/louisecabansay/gitOrgs/dockstore-training/data/out_realigned_NA12878_chr20.sam'
    docker_image = 'quay.io/ldcabansay/samtools:latest'
}

docker {
    enabled = true
    container = params.docker_image
}
